.button,
.regButton {
  -fx-background-color: linear-gradient(white, white); /* Green */
  -fx-text-fill: #7997d6;
  -fx-border-color: #7997d6;
  -fx-text-alignment: center;
  -fx-display: inline-block;
  -fx-font-size: 22px;
  -fx-border-radius: 12;
  -fx-font-weight: bold;
  -fx-font-family: 'Ariel', sans-serif;

  // -fx-button-webkit-transition-duration: 0.7s; /* Safari */
  -fx-button-transition-duration: 0.7s;
}
.button:hover {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
  -fx-text-fill: white;
  -fx-button-border: 15;
  -fx-background-radius: 12;
  -fx-border-radius: 12;
  -fx-button-border: 0px;
  -fx-cursor: hand;
}
.regButton:hover {
  -fx-background-color: orange;
  -fx-border-color: orange;
  -fx-text-fill: white;
  -fx-button-border: 15;
  -fx-background-radius: 12;
  -fx-border-radius: 12;
  -fx-button-border: 0px;
  -fx-cursor: hand;
}

.buttonForget {
  -fx-font-size: 14;
  -fx-border-width: 0 0 0 0;
  -fx-color: linear-gradient(#7997d6, #5b73b4);
  -fx-background-color: white;
}
.buttonForget:hover {
  -fx-font-width: bold;
  -fx-text-fill: linear-gradient(#7997d6, #5b73b4);
  -fx-background-color: white;
}
.buttonClose {
  -fx-font-size: 12;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-color: linear-gradient(#7997d6, #5b73b4);
  -fx-background-color: white;
}
.buttonClose:hover {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: linear-gradient(rgb(242, 86, 86), red);
  -fx-border-color: white;
}

.label {
  -fx-background-color: white;
  -fx-font-family: 'Ariel', sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 32;
  -fx-text-fill: linear-gradient(#7997d6, #5b73b4);
}
.label-search {
  -fx-background-color: transparent;
  -fx-font-family: 'Ariel', sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 14;
  -fx-text-fill: linear-gradient(#7997d6, #5b73b4);
}
.btn {
  -fx-background-color: linear-gradient(#f8f8ff, #dcdcdc);
  -fx-text-fill: linear-gradient(#7997d6, #5b73b4);
  -fx-border-width: 0 0 0 0;
  -fx-border-radius: 0;
  -fx-button-width: 100;
}
.btn-menu {
  -fx-text-fill: linear-gradient(#7997d6, #5b73b4);
  -fx-background-color: transparent;
  -fx-font-size: 20;
}
.btn:hover {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
  -fx-text-fill: white;
  -fx-border-width: 0 0 0 0;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}
.combo-box {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
  -fx-cursor: hand;
  -fx-mark-color: white;
}
.combo-box > .combo-box-popup .list-view .list-cell {
  -fx-background-color: linear-gradient(#f8f8ff, #dcdcdc);
}
.combo-box > .combo-box-popup .list-view .list-cell:hover {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
}
.combo-box > .list-cell {
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-font-size: 14;
}

.combo-box-edited {
}
.combo-box-edited > .list-cell {
  -fx-font-size: 12;
}

.choice-box {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
}
.choice-box > .label {
  -fx-font-size: 14;
  -fx-text-fill: white;
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
}
.choice-box .context-menu {
  -fx-background-color: linear-gradient(#f8f8ff, white);
}
.choice-box .menu-item:focused {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
}
.choice-box .menu-item > .label {
  -fx-background-color: transparent;
  -fx-text-fill: linear-gradient(#7997d6, #5b73b4);
  -fx-font-size: 14;
}
.choice-box .menu-item:focused > .label {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
  -fx-text-fill: white;
}
.text-field {
  -fx-font-size: 14;
}

.table-view {
  -fx-font-size: 14;
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
}
.table-view:focused {
  -fx-background-color: #003d6b;
  -fx-border-width: 5;
}
.table-view .column-header-background .label {
  -fx-background-color: linear-gradient(#7997d6, #aacdee);
  -fx-text-fill: black;
  -fx-font-size: 18;
}
.table-row-cell:odd:selected {
  -fx-background-color: linear-gradient(#003d6b, #5b73b4);
  -fx-text-fill: white;
  -fx-font-size: 14;
}
.table-row-cell:even:selected {
  -fx-background-color: linear-gradient(#003d6b, #5b73b4);
  -fx-text-fill: white;
  -fx-font-size: 14;
}
.table-row-cell:odd {
  -fx-background-color: white;
}
.table-row-cell:even {
  -fx-background-color: #d3d3d3;
}
.changed-row {
  -fx-background-color: red;
}
.buttonMinimize {
}
.buttonMinimize:hover {
  -fx-background-color: linear-gradient(rgb(76, 253, 132), rgb(99, 245, 143));
}
.root {
  -fx-background-color: white; /*linear-gradient(#F8F8FF,#DCDCDC);*/
  -fx-border-width: 2;
  -fx-border-color: linear-gradient(#7997d6, #7997d6);
}

.my-label-style {
  font-size: 16px;
  text-fill: black;
}
