.button,
.regButton {
  -fx-background-color: linear-gradient(white, white); /* Green */
  -fx-text-fill: #7997d6;
  -fx-border-color: #7997d6;
  -fx-text-alignment: center;
  -fx-display: inline-block;
  -fx-font-size: 22px;
  -fx-border-radius: 12;
  -fx-font-weight: bold;
  -fx-font-family: 'Ariel', sans-serif;

  // -fx-button-webkit-transition-duration: 0.7s; /* Safari */
  -fx-button-transition-duration: 0.7s;
}
.button:hover {
  -fx-background-color: linear-gradient(#7997d6, #5b73b4);
  -fx-text-fill: white;
  -fx-button-border: 15;
  -fx-background-radius: 12;
  -fx-border-radius: 12;
  -fx-button-border: 0px;
  -fx-cursor: hand;
}
.regButton:hover {
  -fx-background-color: orange;
  -fx-border-color: orange;
  -fx-text-fill: white;
  -fx-button-border: 15;
  -fx-background-radius: 12;
  -fx-border-radius: 12;
  -fx-button-border: 0px;
  -fx-cursor: hand;
}

.buttonForget {
  -fx-font-size: 14;
  -fx-border-width: 0 0 0 0;
  -fx-color: linear-gradient(#7997d6, #5b73b4);
  -fx-background-color: white;
}
.buttonForget:hover {
  -fx-font-width: bold;
  -fx-text-fill: linear-gradient(#7997d6, #5b73b4);
  -fx-background-color: white;
}
.buttonClose {
  -fx-font-size: 12;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-color: linear-gradient(#7997d6, #5b73b4);
  -fx-background-color: white;
}
.buttonClose:hover {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: linear-gradient(rgb(242, 86, 86), red);
  -fx-border-color: white;
}
